eryuan_single_1_anno.txt
eryuan_single_1_faa.txt
eryuan_single_1_ffn.txt
eryuan_single_1_output_20250328_175153/eryuan_single_1_matches_35.anno
eryuan_single_1_output_20250328_175153/eryuan_single_1_matches_35.faa
eryuan_single_1_output_20250328_175153/eryuan_single_1_matches_35.ffn
eryuan_single_1_output_20250328_175153/report.txt
enyuan**/*